@import "../../../styles/variables.scss";

.sorting {
    padding: 30px;

    @media(max-width: 767px) {
        padding: 0 15px;
    }

    &__heading {
        margin-bottom: 30px;

        @media(max-width: 575px) {
            display: none;
        }
        @media(max-width: 767px) {
            font-size: 18px;
        }
    }
    &__item {
        margin: 10px 0;
        transition: .4s;
        cursor: pointer;

        @media(max-width: 767px) {
            font-size: 14px;
        }

        &:hover, &.active {
            letter-spacing: 2px;
            color: $primary-green;
            font-weight: bold;
        }
    }
}