.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0efec;
    box-shadow: 3px 3px 8px #9ca5a3;
    z-index: 10;
    transition: .4s;
}

.navbar__logo-link:hover {
    text-decoration: none;
}