.category {
    border-bottom: 1px solid #2ea18a;
    text-align: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Cinzel', serif;
    transition: .4s;
    cursor: pointer;

    &:hover, &.active {
        letter-spacing: 2px;
        color: #58B19F;
        font-weight: 700;
    }

    &:last-of-type {
        border-bottom: 0;
    }

    @media(max-width: 767px) {
        font-size: 14px;
        padding: 6px 0;
    }
}