.cart-product {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid #cfdbd9;
}

.cart-product:last-of-type {
    border: 0;
}

.cart-product__first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-product__name-wrapper {
    display: flex;
    align-items: center;
}

.cart-product__image {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px #9ca5a3;
}
.cart-product__name {
    font-family: 'Cinzel', serif;
    margin: 0 20px;
    text-align: left;
}

.cart-product__buttons {
    display: flex;
}
.cart-product__input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #cfdbd9;
}
.cart-product__input:focus {
    outline: 2px solid #93aaa6;
}

.cart-product__button-up, .cart-product__button-down {
    width: 30px;
    height: 40px;
    padding: 0;
    background-color: #e8e6e3;
    border: 1px solid #cfdbd9;
    color: #485250;
}

.cart-product__button-up:focus, .cart-product__button-down:focus {
    outline: 0;
}

.cart-product__icon {
    font-size: 20px;
    line-height: 38px;
}

.cart-product__button-up:hover .cart-product__icon, .cart-product__button-down:hover .cart-product__icon {
    color: #2ea18a;
}

.cart-product__button-remove {
    background-color: transparent;
    border: 2px solid #2ea18a;
    color: #2ea18a;
    margin-left: 20px;
}

.cart-product__button-remove:hover {
    background-color: #e8e6e3;
    color: #2ea18a;
}

.cart-product__price, .cart-product__amount {
    text-align: right;
}

.cart-product__price {
    margin-top: 20px;
}
.cart-product__amount {
    font-size: 20px;
    margin: 0;
}
.cart-product__price span, .cart-product__amount span {
    font-weight: bold;
}