.menu {
    height: 100px;
}

.menu__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

/* .Menu__item {

} */

.menu__link, .Menu__link:visited {
    padding: 10px 20px;
    color: black;
}

.menu__link--active {
    color: blue;
}

.menu--footer {
    color: grey;
}

/* a, a:visited {
    color: black;
} */

/* a.active {
    color: blue;
} */