.payment {
    width: 100%;
    /*max-width: 600px;
    margin: 20px auto; */
    padding: 20px;
    background-color:#f0efec;
    border: 1px solid #cfdbd9;
    /*box-shadow: 5px 5px 10px #9ca5a3; */
    text-align: center;
}

.payment__amount span, .payment__discount span {
    font-weight: bold;
    font-size: larger;
}

.payment__link {
    display: block;
}

.payment__input {
    margin: 0 10px;
    padding: 5px 10px;
}

.payment__pay-button {
    margin: 20px auto;
    font-family: 'Cinzel', serif;
    padding: 10px 20px;
}

.payment__back-to-cart {
    background-color: transparent;
    border: 2px solid #2ea18a;
    color: #2ea18a;
}

.payment__back-to-cart:hover {
    background-color: #e8e6e3;
    color: #2ea18a;
}
