.cart-link {
    color: #353a39;
    font-size: 14px;
    font-weight: 700;
}

.cart-link:hover {
    text-decoration: none;
    color: #353a39;
}

.cart-link__icon {
    color: #353a39;
    font-size: 24px;
    transition: .3s;
}

.cart-link__icon:hover {
    color: #58B19F;
}