.sidebar {
    min-width: 300px;
    margin-right: 15px;
    padding: 15px;

    @media(max-width: 767px) {
        width: 90vw;
        position: fixed;
        top: 0;
        left: 0;
        background-color: grey;
        padding-top: 250px;
    }
}