*, *::before, *::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	background-color: #f0efec;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2358b19f' fill-opacity='0.19' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
	color: #353a39;
	font-family: 'Maitree', serif;
}

.page-heading {
	font-family: 'Cinzel', serif;
	text-align: center;
	margin: 50px auto;
}
button:focus {
    outline: 0;
}

input {
    border: 1px solid #cfdbd9;
}
input:focus {
    outline: 2px solid #93aaa6;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* CHANGE BOOTSTRAP DEFAULT STYLES: */
/* modal */
.modal-content {
	border-radius: 0;
	border: 0;
}
/* pagination */
.page-link {
    background-color:#f0efec;
	border: 1px solid #cfdbd9;
	color: #353a39;
}
.page-link:hover {
	color: #2ea18a;
	background-color: #e8e6e3;
}
.page-item.active .page-link {
	background-color: #a2cfc6;
	border-color: #a2cfc6;
	/* outline: 2px solid #93aaa6; */
}
.page-link:focus {
	box-shadow: none;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0;
}