.product-card {
    width: 100%;
    margin: 15px auto;
    padding: 20px;
    background-color: lightgrey;
}

.product-card__link {
    width: 100%;
}

.product-card__image {
    width: 100%;
    height: 20vw;
    background-position: center;
    background-size: cover;
}
